/* Reservation Page */
.form-container {
    background-color: #000;
    color: white;
    padding: 50px;
    text-align: center;
}

.form-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.form-container form {
    margin: 20px auto;
    max-width: 600px;
    background-color: #CDA075;
    padding: 30px;
    border-radius: 8px;
}

.form-container label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}
